.table-responsive{
    overflow: visible;
}

.dataTables_wrapper {
    margin: 10px 0;
}

.dt-buttons{
    width: 200px;
    text-align: right;
    position: absolute;
    right: 5px;
    top: 6px;
}

.page-tabs-header {
    margin-bottom: 10px;
}

.dt-buttons>a{
    margin-right: 5px;
}

.page-actions{
    text-align: right;
}

.sg-name,
.sg-value{
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.sg-add,
.sg-remove{
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}