.table-responsive{
    overflow: visible;
}

.dataTables_wrapper {
    margin: 10px 0;
}

.dt-buttons{
    width: 200px;
    text-align: right;
    position: absolute;
    right: 5px;
    top: 6px;
}

.page-tabs-header {
    margin-bottom: 10px;
}

.dt-buttons>a{
    margin-right: 5px;
}

.page-actions{
    text-align: right;
}

.sg-name,
.sg-value,
.sg-weight,
.sg-jounal,
.sg-data{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.sg-add,
.sg-remove{
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}


.wizard-pf-sidebar .list-group-item>a{
    height: 30px;
    line-height: 10px;
}
.wizard-pf-sidebar .list-group-item.active>a:after{
    line-height: 10px;
}