<div id="dCluster" class="wizard-pf-main hidden">
    <form id="fCluster" role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Cluster Name:</label>
            <div class="col-md-6 ">
                <input name="clusterName" id="txtClusterName" type="text" class="form-control"  placeholder=""/>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">File System:</label>
            <div class="col-md-6">
                <select name="fileSystem" id="selFileSystem" class="form-control">
                    <option value="XFS">XFS</option>
                    <option value="EXT4">EXT4</option>
                </select>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">File System Options:</label>
            <div class="col-md-6">
                <input name="fileSystemOptions" id="txtFileSystemOptions" type="text" class="form-control"  placeholder=""/>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Zone:</label>
            <div class="col-md-6">
                <input name="clusterZone" id="txtClusterZone" type="text" data-role="tagsinput" class="form-control" value="" >
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Settings:</label>
            <div class="col-md-6">
                <a id="btnClusterSettings" type="button" class="btn btn-info">Modify Settings</a>
                <span class="help-block"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Storage Group:</label>
            <div class="col-md-6">
                <!--CLUSTER STORAGE GROUP-->
                <table id="tCSG" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--HERE:CLUSTER STORAGE GROUP ITEMS-->
                        <tr class="sg-item">
                            <td>
                                <input type="text" class="form-control sg-name"/>
                            </td>
                            <td>
                                <input type="text" class="form-control sg-value"/>
                            </td>
                            <td>
                                <span class="fa fa-times-circle fa-font-20 sg-remove" style="display:none" onclick="removeSGItem(this)"></span>            
                                <span class="fa fa-plus-circle  fa-font-20 sg-add" onclick="addSGItem()"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="help-block"></span>
            </div>
        </div>
    </form>
</div>

