{% extends "master.html" %}
{% block page-title %} Condata Storage Manager {% endblock %}

{% block css %}{{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% load i18n %}

    <div class="row">
        <div class="col-md-12 page-actions">
            <button id="btnAddAccount" class="btn btn-default" data-toggle="modal" data-target="#mCreateCluster" data-action="create">
                Create Cluster
            </button>
        </div>
    </div>

     MatchCollection mc = Regex.Matches(str,@"\d{2,3}([.]\d{1,3}){3}:\d{2,5}");

    <div id="mCreateCluster" class="modal fade"  tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg wizard-pf">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <dt class="modal-title">Create Cluster</dt>
                </div>
                <div class="modal-body wizard-pf-body clearfix" >
                    <!--wizard steps-->
                    <div class="wizard-pf-steps">
                        <ul class="wizard-pf-steps-indicator">
                            <li onclick="selectedStep(0)" class="active">
                                <a><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">Network</span></a>
                            </li>
                            <li onclick="selectedStep(1)">
                                <a><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">Cluster</span></a>
                            </li>
                            <li onclick="selectedStep(2)">
                                <a><span class="wizard-pf-step-number">3</span><span class="wizard-pf-step-title">Server</span></a>
                            </li>
                            <li onclick="selectedStep(3)">
                                <a><span class="wizard-pf-step-number">4</span><span class="wizard-pf-step-title">Preview</span></a>
                            </li>
                        </ul>
                    </div>

                    <!--network content-->
                    {% include "manage_cluster/network.html" %}

                    <!--cluster content-->
                    {% include "manage_cluster/cluster.html" %}

                    <!--server content-->
                    {% include "manage_cluster/server.html" %}
                </div><!-- /.wizard-pf-body -->
                <!-- TODO: disable buttons -->
                <div class="modal-footer wizard-pf-footer">
                    <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                    <button id="btnLastWizard" type="button" class="btn btn-default">
                        <span class="i fa fa-angle-left"></span>
                        Back
                    </button>
                    <button id="btnNextWizard" type="button" class="btn btn-primary" >
                        Next
                        <span class="i fa fa-angle-right"></span>
                    </button>
                </div><!-- /.wizard-pf-footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}

{% block js %}
    {{ block.super }}
    <!--<script type="text/javascript" src="/static/dist/manage_cluster.bundle.js"></script>-->
    <script type="text/javascript" src="/static/src/manage_cluster.js"></script>
{% endblock %}