<!--network content-->
<div id="dNetwork" class="row wizard-pf-main">
    <div class="col-md-10 col-md-offset-1">
        <form id="fNetwork" role="form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label">Controller:</label>
                <input id="txtControllerIP" name="controllerIP" type="text" class="form-control"  placeholder="192.168.1.1"/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Management IP:</label>
                <input id="txtManagementIP" name="managementIP" type="text" class="form-control" placeholder="192.168.2.1/24"/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cluster IP:</label>
                <input id="txtClusterIP" name="clusterIP" type="text" class="form-control"  placeholder="192.168.3.1/24" />
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Public IP:</label>
                <input id="txtPublicIP" name="publicIP" type="text" class="form-control"  placeholder="192.168.4.1/24"/>
                <span class="help-block"></span>
            </div>
        </form>
    </div>
</div>