<!--network content-->
<div id="dNetwork" class="wizard-pf-main">
    <form id="fNetwork" role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Controller:</label>
            <div class="col-md-8">
                <input id="txtControllerIP" name="controllerIP" type="text" class="form-control"  placeholder="192.168.1.1"/>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Management IP:</label>
            <div class="col-md-8">
                <input id="txtManagementIP" name="managementIP" type="text" class="form-control" placeholder="192.168.2.1/24"/>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Cluster IP:</label>
            <div class="col-md-8">
                <input id="txtClusterIP" name="clusterIP" type="text" class="form-control"  placeholder="192.168.3.1/24" />
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Public IP:</label>
            <div class="col-md-8">
                <input id="txtPublicIP" name="publicIP" type="text" class="form-control"  placeholder="192.168.4.1/24"/>
                <span class="help-block"></span>
            </div>
        </div>
    </form>
</div>