{% extends "master.html" %}
{% block page-title %} Condata Storage Manager {% endblock %}

{% block css %}{{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% load i18n %}

    
Dashboard

{% endblock %}


{% block js %}
    {{ block.super }}
    <!--<script src="components/c3/c3.min.js"></script>
    <script src="components/d3/d3.min.js"></script>
    <script src="components/matchHeight/jquery.matchHeight-min.js"></script>-->
    <script type="text/javascript" src="/static/dist/dashboard.bundle.js"></script>
{% endblock %}
