{% extends "master.html" %}
{% block page-title %} Condata Storage Manager {% endblock %}

{% block css %}{{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% load i18n %}
    1231
    {{menu_list}}
    <br>
    {{role}}
    <br>
    {{menu}}
    <div id="demo"></div>
        <button class="btn btn-primary">Submit</button>
    <br>
     dssssssssss
    <div id="reddit"></div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <!--<script src="components/c3/c3.min.js"></script>
    <script src="components/d3/d3.min.js"></script>
    <script src="components/matchHeight/jquery.matchHeight-min.js"></script>-->
    <script type="text/javascript" src="/static/dist/dashboard.bundle.js"></script>
{% endblock %}