<!DOCTYPE html>
<!--<html lang="zh-cn">-->
<html lang="en-us" class="layout-pf layout-pf-fixed">
    <head>
        <title>{% block page-title %}{% endblock %}</title>

        <!-- START META SECTION -->
        <meta http-equiv="Content-Type" content="image/svg+xml" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        {% block css %}
            <!-- PatternFly Styles -->
            <!-- Note: No other CSS files are needed regardless of what other JS packages located in patternfly/components that you decide to pull in -->
            <link rel="stylesheet" href="../static/plugins/patternfly/dist/css/patternfly.min.css">
            <link rel="stylesheet" href="../static/plugins/patternfly/dist/css/patternfly-additions.min.css">
            <link rel="stylesheet" href="../static/css/patternfly-site.min.css">
        {% endblock %}
        <!-- EOF CSS INCLUDE -->
    </head>

    <body>
        <!-- START PAGE TOP -->
        {% include "top.html" %}
        <!-- END PAGE TOP -->

        <!-- START PAGE MENU -->
        {% include "menu3.html" %}
        <!-- END PAGE MENU -->
        
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            <div class="clearfix row" id="content">
                <div id="main" class="col-md-12 clearfix" role="main">
                    {% include "breadcrumb.html" %}
                    {% include "page_title.html" %}
                    <div class="page-content-wrap">
                        {% block content %}
                            <!-- include your custom page -->
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- START JAVASCRIPT -->
        {% block js %}
            <!-- jQuery -->
            <script src="../static/plugins/jquery/dist/jquery.min.js"></script>

            <!-- Bootstrap JS -->
            <script src="../static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- Datatables, jQuery Grid Component -->
            <!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->
            <script src="../static/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
            <script src="../static/plugins/datatables-colvis/js/dataTables.colVis.js"></script>
            <script src="../static/plugins/datatables-colreorder/js/dataTables.colReorder.js"></script>

            <!-- PatternFly Custom Componets -  Sidebar, Popovers and Datatables Customizations -->
            <!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->
            <script src="../static/plugins/patternfly/dist/js/patternfly.min.js"></script>

            <!-- Bootstrap Combobox -->
            <!--<script src="../static/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>-->

            <!-- Bootstrap Date Picker -->
            <!--<script src="../static/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>-->

            <!-- Moment - required by Bootstrap Date Time Picker -->
            <!--<script src="../static/plugins/moment/min/moment.min.js"></script>-->

            <!-- Bootstrap Date Time Picker - requires Moment -->
            <!--<script src="../static/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>-->

            <!-- Bootstrap Select -->
            <!--<script src="../static/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>-->

            <!-- Bootstrap Switch -->
            <!--<script src="../static/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>-->

            <!-- Bootstrap Touchspin -->
            <!--<script src="../static/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>-->

            <!-- Bootstrap Tree View -->
            <!--<script src="../static/plugins/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>-->

            <!-- Google Code Prettify - Syntax highlighting of code snippets -->
            <!--<script src="../static/plugins/google-code-prettify/bin/prettify.min.js"></script>-->

            <!-- MatchHeight - Used to make sure dashboard cards are the same height -->
            <!--<script src="../static/plugins/matchHeight/jquery.matchHeight-min.js"></script>-->


            <script type="text/javascript" src="/static/dist/common.js"></script>
            <script type="text/javascript" src="/static/dist/master.bundle.js"></script>
        {% endblock %}
        <!-- END JAVASCRIPT -->


    </body>
</html>