{% extends "master.html" %}
{% block page-title %} Condata Storage Manager {% endblock %}

{% block css %}{{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% load i18n %}

    <div class="row">
        <div class="col-md-12 page-actions">
            <button id="btnAddAccount" class="btn btn-default" data-toggle="modal" data-target="#mAccount" data-action="add">
                Add Account
            </button>
        </div>
    </div>

    <!--START THE ACCOUNT LIST-->
    <table id="tAccount" class="datatable table table-striped table-bordered hover">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Group</th>
                <th>keyring</th>
                <th>keystone</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>name1</td>
                <td>name2</td>
                <td>123@qq.com</td>
                <td>yes</td>
                <td>keyring1234</td>
                <td>name</td>
                <td>keystone</td>
                <td>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mAccount" data-action="edit">Edit</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Enable/Disable</a></li>
                            <li><a href="#" style="color:red">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>name2</td>
                <td>name3</td>
                <td>123@qq.com</td>
                <td>yes</td>
                <td>keyring1234</td>
                <td>name</td>
                <td>keystone</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mAccount" data-action="edit">Edit</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Enable/Disable</a></li>
                            <li><a href="#" style="color:red">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--END THE ACCOUNT LIST -->

    <div id="mAccount"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mAccountLabel">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="mAccountLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <!--START ALERT-->
                <!--<div class="alert alert-danger">
                    <span class="pficon pficon-error-circle-o"></span>
                    <strong>Hey there is a problem!</strong> Yeah this is really messed up and you should <a href="#" class="alert-link">know about it</a>.
                </div>-->
                <!--END ALERT-->
                <!--START FORM-->
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="modalInput">User Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="modalInput" class="form-control">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="modalInput">Password</label>
                        <div class="col-sm-9">
                            <input type="password" id="modalInput" class="form-control">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="modalInput">Retype Password</label>
                        <div class="col-sm-9">
                            <input type="password" id="modalInput" class="form-control">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="modalInput">Role</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="0">admin</option>
                                <option value="1">operator</option>
                                <option value="2">user</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="modalInput">Domain</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="0">default</option>
                                <option value="1">default2</option>
                                <option value="2">default3</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label" for="modalInputDisabled">Disabled</label>
                        <div class="col-sm-10">
                        <input type="text" id="modalInputDisabled" class="form-control" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="modalInputError">With error</label>
                        <div class="col-sm-10">
                            <input type="text" id="modalInputError" class="form-control">
                            <span class="help-block"></span>
                        </div>
                    </div>-->
                </form>
                <!--END FORM-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/dist/manage_account.bundle.js"></script>
{% endblock %}