{% extends "master.html" %}
{% block page-title %} Condata Storage Manager {% endblock %}

{% block css %}{{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% load i18n %}

    <!--END THE ACCOUNT LIST-->
    <table id="tAccount" class="datatable table table-striped table-bordered">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th style="width:60px;">Admin</th>
                <th>Group</th>
                <th>keyring</th>
                <th>keystone</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    <!--END THE ACCOUNT LIST -->

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/dist/manage_account.bundle.js"></script>
{% endblock %}